<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product Details</title>
        <link rel="icon" href="../static/portfolioLogo.png" type="image/icon type">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body class=" text white-text">
        <div class="navbar-fixed">
            <nav class='no-shadows'>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">
                <img class="logo" src="../static/portfolioLogo.png">
              </a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#Projects">Other Projects</a></li>
                <li><a href="#Blog">Blog</a></li>
                <li><a href="#GitHub">Github</a></li>
              </ul>
            </div>
            </nav>
        </div>
        <br><br>
        <div class="row">
            <div class="col s12 m4 l3">
                <div>
                    <div class="card-image">
                        <img src="image_name_placeholder" style="width: 100%;">
                    </div>
                </div>
            </div>
            <div class="col s12 m8 l9">
                <div class="card-content">
                    <b>Product Title</b>
                    <p>text_placeholder</p>
                    <div class="row">
                        <div class="col s4 m4 l4">
                            Price : <b>100 Rupees</b>
                        </div>
                        <div class="col s4 m4 l4">
                            User Rating : <b>4.5</b>
                        </div>
                        <div class="col s4 m4 l4">
                            Number of votes : <b>45</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 m6 l6">
                            <button class="btn blue">
                                Buy
                            </button>
                        </div>
                        <div class="col s6 m6 l6">
                            <button class="btn blue">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <center><h5><b>Related Products</b></h5></center>
        <div class="row">
            products_place_holder
        </div>
    </body>
    </html>